@import 'variables';



.container-main {
  padding-left: $sidebar-width;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.3s linear;
}

.content-main {
  width: 100%;
}

.side-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: $sidebar-width;
  box-sizing: border-box;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 0.3s linear;
  z-index: 200;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    color: #000000;
    z-index: -10;
    position: absolute;
    top: 0;
    left: 0;
    border-right: 1px solid #cccccc;
  }
}

.side-nav-main {
  height: 100vh;
  //padding: 20px;

  &.scroll {
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: #efefef;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background: #c7c7c7;
    }
  }

  &.mobile-design {
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: #efefef;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background: #c7c7c7;
    }
  }
}

.side-nav-header.mobile-margin-top {
  margin-top: 45px !important;

  .logo {
    img {
      height: 40px;
    }
  }
}

.side-nav-header {
  //background: #FFFFFF;
  padding: 12px;
  //display: flex;
  align-items: center;
  justify-content: space-around;
  //margin-bottom: 15px;

  .logo {
    max-width: 150px;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    p{
      font-family: 'Globe', serif;
      font-size: 20px;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 700;
      color: $color-primary;
    }
    img {
      width: 100%;
      //height: auto;
      height: 40px;
      object-fit: contain;
    }
  }

}


.column-menu {
  flex-direction: column;
}


// For Icon Sidebar
.p-100px {
  padding-left: 100px;
}

.w-100px {
  // width: 88px;
  width: 100px;
}

.over-x {
  overflow-x: visible;
}


.side-nav .logo-hide {
  display: none;
}

.menu {
  display: block;
  width: 100%;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  display: block;
  position: relative;
}

.menu ul li .menu-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  box-sizing: border-box;
  position: relative;
  padding: 0 18px;
}

.menu ul li a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  border-radius: 5px;
  transition: all 0.3s linear;
  visibility: visible;
  opacity: 1;
  width: 100%;
  cursor: pointer;
  padding: 14px 0;
}

.menu ul li .menu-item span {
  color: #2e2e2e;
  font-size: 17px;
  display: block;
  cursor: pointer;
}

.menu ul li a .icon {
  font-size: 24px;
}

.menu ul li a span {
  visibility: visible;
  opacity: 1;
}

.menu ul li a .menu-hide {
  visibility: hidden;
  opacity: 0;
}

.menu ul li a .menu-show {
  transition-delay: 0.4s;
  visibility: visible;
  opacity: 1;
  color: #2e2e2e;
  font-weight: 500;
  // font-size: 15px;
  font-size: 14px;
  text-align: center;
}

.menu ul li .menu-item:hover {
  background-color: #eeeaff;
}


// Active
.menu ul li .link-active {
  background-color: #eeeaff;

}

.center {
  justify-content: center;
  align-items: center;
}

.link-active {
  .active-bar {
    position: absolute;
    right: 0;
    top: 0;
    width: 5px;
    height: 100%;
    background: #a994ff;
    display: block;
  }

  .menu-show {
    color: #5d36ff !important;
  }

  span {
    color: #5d36ff !important;
  }
}

.font-size {
  font-size: 12px !important;
  font-size: 15px !important;
  text-wrap: wrap;
}

/*** sub menu start *****/

.menu ul li .sub-menu {
  padding: 0 0 0 20px;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s;
}

.menu ul li .sub-menu ul {
  overflow: hidden;
}



.menu ul li .sub-menu.show-sub {
  grid-template-rows: 1fr;
}

.menu ul li .sub-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li .sub-menu ul li {
  display: block;
  //padding: 12px 0;
  //margin: 0 !important;
  margin-top: 3px !important;
}


.menu ul li .sub-menu ul li a {
  padding: 10px 0;
}

.menu ul li .sub-menu ul li {
  transition: all 0.2s linear;
}

.menu ul li .sub-menu ul li:hover {
  background-color: #eeeaff;
}

.sub-link-li {
  position: relative;
}

.menu ul li .sub-menu .sub-link-active {
  //margin-top: 4px!important;
  background-color: #eeeaff;
}

.sub-link-active {
  color: #5d36ff;

  .sub-active-bar {
    position: absolute;
    right: 0;
    top: 0;
    // width: 10px;
    width: 5px;
    height: 100%;
    background: #a994ff;
    display: block;
  }
}

.menu ul li .sub-menu ul .hover-title {
  display: none;
}

.side-nav-active .menu ul li .show-sub {
  position: absolute;
  left: 150%;
  background-color: #FFFFFF;
  top: -50%;
  transform: translateY(-25%);
  width: 240px;
  padding: 0 5px;
  box-sizing: border-box;
  border-radius: 0 5px 5px 0;
  visibility: hidden;
  opacity: 0;
  display: none;
  border: 1px solid #5d36ff;
}

.side-nav-active .menu ul li .sub-menu ul .hover-title {
  display: block;
}

.side-nav-active .menu ul li .sub-menu ul li {
  padding: 6px 10px;
  margin: 0;
}

.side-nav-active .menu ul li .sub-menu ul li a {
  font-size: 15px;
}

.side-nav-active .menu ul li .sub-menu ul li:hover {
  //border-bottom: 2px solid #FF9F43;
  background-color: $bg-three !important;


}

.side-nav-active .menu ul li:hover .show-sub {
  visibility: visible;
  opacity: 1;
  left: 100%;
  display: block;

}

.side-nav-active .menu ul li .menu-hide {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 150%;
  background-color: #FFFFFF;
  border-radius: 0 5px 5px 0;
  visibility: hidden;
  opacity: 0;
}

.side-nav-active .menu ul li:hover .menu-hide {
  visibility: visible;
  opacity: 1;
  left: 100%;
  font-size: 15px;
}

//.side-nav-active .menu ul li:hover .isParentMenu {
//  display: none;
//}

.hide-button {
  display: none;
  position: absolute;
  height: 20px;
  width: 20px;
  text-align: center;
  /* padding: 3px 7px; */
  background: white;
  border-radius: 30px;
  font-size: 15px;
  z-index: 200;
  top: 2px;
  right: -9px;
  //box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  //box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/*** sub menu end *****/




.overlay {
  position: fixed;
  top: 0;
  display: none;
  left: 0;
  background-color: rgb(0 0 0 / 60%);
  z-index: 199;
  width: 100%;
  height: 100vh;
}

@media(max-width: 1200px) {
  .overlay {
    display: block;
  }

  .hide-button {
    display: block;
  }

  .header-area {
    display: block;
  }

  .side-nav .logo-hide {
    display: flex !important;
  }

  .side-nav {
    position: fixed;
  }

  .side-nav-main {
    overflow-y: auto;
  }

  .al-center {
    border-bottom: 1px solid #ffffff;
    justify-content: center;
  }

  .side-nav::after {
    height: 113%;
  }

  .side-nav .logo {
    //display: flex;

  }

  .container-main {
    padding: 0;
  }

  .p-100px {
    padding: 0;
  }

  .w-100px {
    width: 320px;
    overflow-x: visible;
  }

  .side-nav {
    left: -100%;
  }

  .side-nav-active {
    left: 0;
  }

  .side-nav-inactive {
    left: -100%;
  }

  .menu ul li a .menu-hide {
    visibility: visible;
    opacity: 1;
  }

  .side-nav-active .menu ul li .menu-hide {
    width: auto;
    height: auto;
    display: block;
    position: static;
    visibility: visible;
    opacity: 1;
    background-color: transparent;
    border-radius: 0;
  }

  .side-nav-active .menu ul li:hover .isParentMenu {
    display: block;
  }

  .side-nav-active .menu ul li .show-sub {
    position: static;
    left: 0;
    background-color: #FFFFFF;
    top: 0%;
    transform: translateY(0%);
    width: auto;
    padding: 5px 0 5px 20px;
    box-sizing: border-box;
    border-radius: 0;
    visibility: visible;
    opacity: 1;
    display: block;
  }


  .side-nav-active .menu ul li:hover .menu-hide {
    visibility: visible;
    opacity: 1;
    left: 100%;
    font-size: 17px;
  }
}


@media(max-width: 1200px) {
  .hover-title {
    display: none !important;
  }
}

@media only screen and (max-width: 599px) {
  .side-nav-active .menu ul li .show-sub {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #5d36ff;
  }
}

// Nested submenu styles
.folder-item {
  position: relative;

  .folder-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px 0;
    width: 100%;

    .folder-arrow {
      margin-left: auto;
      font-size: 18px;
      transition: transform 0.3s;
    }
  }

  .nested-sub-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding-left: 0;
    margin-left: 20px;
    list-style: none;
    display: block;

    &.show-nested {
      max-height: 2000px;
      padding-top: 5px;
      padding-bottom: 5px;
      display: block;
      visibility: visible;
      opacity: 1;
    }

    .nested-link-li {
      padding: 8px 0;
      margin-left: 0;
      position: relative;
      display: block;

      a {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 8px 0;

        .material-icons {
          font-size: 18px;
        }
      }

      &:hover {
        background-color: #eeeaff;
      }
    }
  }
}

.sub-menu-text {
  font-size: 15px;
}




/* Blink effect for both text & icon */
.blink-effect,
.blink-effect .material-icons,
.blink-effect .menu-show,
.blink-effect .menu-hide {
  animation: blinkColors 1s infinite alternate;
}

@keyframes blinkColors {
  0% {
    color: #31c023;
  }
  50% {
    color: #402929;
  }
  100% {

    color: #5d36ff;
  }
}
